body {
	
	margin: 25px 40px;
	font-size: 25px;
}
form {
	padding-bottom: 10px;
}
input {
	height: 30px;
	width: 500px;
	margin-bottom: 10px;
	border-radius: 3px;
}
div {
	padding-bottom: 10px;
}
button{
	background-color: rgb(0, 153, 255);
	height: 30px;
	width: 40px;
	border-radius: 3px;
}
textarea{
	width: 450px;
	border-radius: 3px;
	
}
#bt_bcc{
	width: 200px;
}

